h1,
p {
  font-family: Lato;
}

.toolbarButton {
  border: solid 1px blue;
  padding: 10px;
}

.toolbar {
  min-height: 100px;
  border: solid 1px red;
  display: flex;
}

.editor {
  border: solid 1px green;
}
